.storyList {
  .story + .story {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .ownerHeader {
    margin-bottom: 16px;
  }
}

.storyList + .storyList {
  margin-top: 32px;
  margin-bottom: 32px;
}

.ownerHeader {
  display: flex;
  align-items: center;

  .ownerHeader--avatar {
    margin-right: 8px;
  }
}

.ownerHeader--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ownerHeader--ownerName {
  color: $ink;
  font-family: $font-family-bold;
  margin-bottom: 8px;
}

.story {
  color: $ink;
  font-family: $font-family-normal;
  display: flex;
  align-items: baseline;
  padding-bottom: 1px;

  span + span {
    margin-left: 8px;
  }
}

.story-archived {
  opacity: 0.3;

  .story--name {
    opacity: 0.5;
  }
}

.story--id {
  @include badge;

  color: $ink-light;
  background-color: transparent;
  width: 7.5ch;
  text-align: right;
}

.story--state {
  @include badge;
  width: 15ch;
  color: $gray-light;
  border: solid 1px $gray-lighter;
  background-color: $white;
}

.story--estimate {
  @include badge;
  width: 3.5ch;
  border: solid 1px darken($ink-light, 10%);
}

.story--estimate-none {
  color: darken($ink-lighter, 2%);
}

.story--epicBadge {
  @include badge;
  background-color: $white;
  color: $gray-light;
  width: 3.5ch;
  border: solid 1px $gray-lighter;
}

.story--epicBadge-notInEpic {
  color: lighten($gray-lighter, 5%);
}

.story--type {
  @include badge;
  width: 7ch;
}

.story--type-feature {
  background-color: $yellow-light;
  color: $ink;
  border: solid 1px darken($yellow-light, 10%);
}

.story--type-chore {
  background-color: $gray-light;
  border: solid 1px darken($gray-light, 10%);
}

.story--type-bug {
  background-color: $red-light;
  border: solid 1px darken($red-light, 10%);
}

.story--name {
  @include truncate;
  max-width: 65ch;
  font-size: $font-size-normal;
}
