.storyList {
  .story + .story {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.storyList + .storyList {
  margin-top: 16px;
  margin-bottom: 16px;
}

.storyList--ownerName {
  color: $ink;
  font-family: $font-family-bold;
  margin-bottom: 8px;
}

.story {
  color: $ink;
  font-family: $font-family-normal;

  span + span {
    margin-left: 8px;
  }
}

.story--id {
  display: inline-block;
  color: $ink;
  background-color: transparent;
  width: 6ch;
  text-align: right;
  font-family: $font-family-normal;
  font-size: $font-size-small;
}

.story--workflowState {
  @include badge;
  width: 15ch;
  color: $gray-light;
  border: solid 1px $gray-lighter;
  background-color: $white;
}

.story--estimate {
  @include badge;
  width: 3.5ch;
  border: solid 1px darken($ink-light, 10%);
}

.story--estimate-none {
  // min-height: 1.4em;
  // padding: 0;
  // border: solid 1px $ink-lighter;
  // background-color: transparent;
}

.story--type {
  @include badge;
  width: 4em;
}

.story--type-feature {
  background-color: $yellow-light;
  color: $ink;
  border: solid 1px darken($yellow-light, 10%);
}

.story--type-chore {
  background-color: $gray-light;
  border: solid 1px darken($gray-light, 10%);
}

.story--type-bug {
  background-color: $red-light;
  border: solid 1px darken($red-light, 10%);
}

.story--name {
  font-size: $font-size-normal;
}
