@import 'latofonts.css';

// color
$alice: aliceblue;
$ink: #333366;
$ink-light: #a5a5d2;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $alice;
  margin: 8px 24px;
}

.siteHeading {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'LatoWebBlack';
  padding: 4px 8px;
  background-color: $ink;
  border-radius: 4px;
  color: $ink-light;
  font-size: 28pt;
}

.memberList > li {
  margin-bottom: 16px;
}

li {
  margin-left: 2em;
}

p {
  color: $ink;
  font-family: 'LatoWeb';
}

h1, .hello {
  margin-bottom: 16px;
}
