@import 'vendor/latofonts.css';
@import 'vendor/lds_dual_ring.css';
@import 'variables';
@import 'story';

// base

body {
  background-color: $bg;
  overflow: hidden;
}

h1 {
  color: $ink;
  font-family: $font-family-black;
}

h2 {
  color: $ink;
  font-family: $font-family-bold;
}

p {
  color: $ink;
  font-family: $font-family-normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

button {
  @include badge;
  border: 1px solid darken($ink-light, 10%);
  padding: 2px 6px;
  margin: 4px; // TODO
  outline: none;

  &:hover {
    background-color: $ink;
    border: 1px solid darken($ink, 10%);
  }

  &:active {
    background-color: $red-light;
    border: 1px solid darken($red-light, 10%);
  }
}

// modules

.loading {
  width: 100%;
  margin-top: 128px;
  text-align: center;

  p {
    font-size: 24pt;
  }
}

$header-height: 60px;

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  background-color: $ink;
  height: $header-height;

  > h1 {
    font-family: $font-family-black;
    color: $ink-light;
    font-size: 20pt;
  }

  > img {
    margin-right: 8px;
  }
}

.content {
  padding: 8px 24px;
  height: calc(100vh - #{$header-height});
  overflow-y: scroll;
}
