@import 'latofonts.css';
@import 'lds_dual_ring.css';

// variables

$alice: white;
$ink: #333366;
$ink-light: #a5a5d2;

$red-light: #d29a9a;
$yellow-light: rgb(250, 240, 180);
$gray-light: #b2b2b2;

$font-family-normal: 'LatoWeb';
$font-family-bold: 'LatoWebBold';
$font-family-black: 'LatoWebBlack';

$story-inner-margin: 4px;

// mixins

@mixin badge {
  border-radius: 2px;
  color: white;
  background-color: $ink-light;
  font-family: $font-family-bold;
  text-align: center;
  font-size: 8pt;
  display: inline-block;
  padding-bottom: 1px;
}

// reset

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// base

body {
  background-color: $alice;
}

h1 {
  color: $ink;
  font-family: $font-family-black;
}

h2 {
  color: $ink;
  font-family: $font-family-bold;
}

p {
  color: $ink;
  font-family: $font-family-normal;
}

li {
  list-style: none;
}

// modules

.loading {
  width: 100%;
  margin-top: 128px;
  text-align: center;

  p {
    font-size: 24pt;
  }
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  background-color: $ink;

  > h1 {
    font-family: $font-family-black;
    color: $ink-light;
    font-size: 20pt;
  }

  > img {
    margin-right: 8px;
  }
}

.memberList {
  margin: 8px 24px;
}

.story {
  color: $ink;
  font-family: $font-family-normal;

  span + span {
    margin-left: 8px;
  }
}

.story--workflowState {
  @include badge;
  width: 12em;
}

.story--estimate {
  @include badge;
  width: 2em;
}

.story--estimate-none {
  padding: 0;
}

.story--type {
  @include badge;
  width: 4em;
}

.story--type-feature {
  background-color: $yellow-light;
  color: $ink;
}

.story--type-chore {
  background-color: $gray-light;
}

.story--type-bug {
  background-color: $red-light;
}

.story--name {
  font-size: 10pt;
}

.storyList + .storyList {
  margin-top: 16px;
}

.storyList--list {
  margin-bottom: 16px;
}
