// variables

$ink: rgb(51, 51, 102);
$ink-light: rgb(165, 165, 210);
$ink-lighter: rgb(200, 200, 235);

$ink-10: tint($ink, 10%);
$ink-20: tint($ink, 20%);
$ink-30: tint($ink, 30%);
$ink-40: tint($ink, 40%);
$ink-50: tint($ink, 50%);
$ink-60: tint($ink, 60%);
$ink-70: tint($ink, 70%);
$ink-80: tint($ink, 80%);
$ink-90: tint($ink, 90%);

$red: red;

$red-10: lighten($red, 10%);
$red-20: lighten($red, 20%);
$red-30: lighten($red, 30%);
$red-40: lighten($red, 40%);
$red-50: lighten($red, 50%);
$red-60: lighten($red, 60%);
$red-70: lighten($red, 70%);
$red-80: lighten($red, 80%);
$red-90: lighten($red, 90%);

$gray: rgb(128, 128, 128);
$gray-light: rgb(176, 176, 176);
$gray-lighter: rgb(220, 220, 220);

$red-light: rgb(210, 154, 154);
$yellow-light: rgb(250, 240, 180);
$white: rgb(255, 255, 255);

$bg: rgb(240, 245, 255);

$font-family: 'Lato';
$font-size-small: 10pt;
$font-size-normal: 12pt;

$story-inner-margin: 4px;

// mixins

@mixin badge {
  flex-shrink: 0;
  border-radius: 2px;
  color: white;
  background-color: $ink-light;
  text-align: center;
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 1px;
  min-height: 1.3em;
}

@mixin truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// reset

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
